{% extends "base.html" %}
{% block main %}
<h1>Schäpers Lab</h1>
<h2>Tier Liste</h2>
<h3>The one and only – Letze Aktualisierung: {{ updated_at }}</h3>
<div class="s-tier row">
{% for char in smash_chars %}
	<div class="char-card">
		<a href="{{ char[1][0:3] }}/">
			<img src="/static/{{ char[1] }}">
		</a><br>
		<span class="name">{{ char[0] }}</span>
	</div>
	{% if loop.index == 1 %}
		</div><hr><div class="a-tier row">
	{% elif loop.index == 9 %}
		</div><hr><div class="b-tier row">
	{% elif loop.index == 17 %}
		</div><hr><div class="c-tier row">
	{% elif loop.index == 36 %}
		</div><hr><div class="d-tier row">
	{% elif loop.index == 47 %}
		</div><hr><div class="e-tier row">
	{% endif %}
{% endfor %}
</div><!-- .e-tier --><hr>
<small class="row"><a href="/u/kondou/">Kondou's amiibos</a> – <a href="/u/seijirou/">Seijirou's amiibos</a></small>
{% endblock %}
